boto==2.48.0
boto3==1.5.36
botocore==1.8.50
bz2file==0.98
certifi==2022.12.7
chardet==3.0.4
click==6.7
Cython==0.27.3
docutils==0.14
Flask==0.12.2
future==0.16.0
gensim==3.3.0
h5py==2.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
numpy==1.14.1
pandas==0.22.0
python-dateutil==2.6.1
pytz==2018.3
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.1
scipy==1.0.0
six==1.11.0
sklearn==0.0
smart-open==1.5.6
urllib3==1.22
Werkzeug==0.14.1
