<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type=text/css href="{{ url_for('static',filename='styles/home_fonts.css') }}">
       <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- jQuery library -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <style>
div.container {
    width: 100%;
    border: 1px solid gray;
}


nav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>

  <body>
    <div class="container">



<!-- 1 Row -->
        <div class="row">

            <header>
                <h1>improveYOU</h1>

                <br>

                <br>

                <br>

                <h1>analyse your text and get immediate feedback</h1>
        </header>

            <!-- Title -->
            <div class="col-sm-6">

                <br>
                <br>

                <p>Hi there,
                </p>
                <br>
                <p> improveYOU allows you to analyze the</p>
                <br>
                <h2>Enter your text:</h2>

                <br>

            </div>

            <div class="col-sm-6">

                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <h2>Your result:</h2>

            </div>

        </div>

        <!-- 2 Row -->
        <div class="row">

            <!-- 1 Col -->
            <div class="col-sm-6">

                <form action='/improve' method="post" role="form">

          <textarea id="input_text" name="input_text" rows="20" cols="50" placeholder= "Enter your text here" ></textarea>

                    <p>WordsCount:<span id="counter">0</span></p>

            <!-- process button -->

                    <br>

          <button id="process" type="button">Process your text!</button>

         </form>


            </div>


            <!-- 2 col -->
            <div class="col-sm-6">

            <form action='/' method="post" role="form">

          <textarea id="output_text" name="output_text" rows="20" cols="50" placeholder="Your result"></textarea>

            </form>


            </div>
    </div>

        <!-- 3 Row -->

        <!-- 1 Col -->
        <div class="col-sm-6">

            <br>

        </div>

        <!-- 2 Col -->
            <div class="col-sm-6">

                <h2>TED:</h2>
                <h2>New York Times:</h2>
                <h2>Stackoverflow</h2>



</div>

    </div>


  <script>
  // jquerry
$( document ).ready(function() {
    $("#process").click(function(){
     // alert( $("#input_text" ).val());
      // var posting = $.post( '/improve', { unprocessed_text: $("#input_text" ).val() } );


        $.ajax({
            url: '/improve',
            data: $('form').serialize(),
            type: 'POST',
            success: function(response) {
                $("#output_text").val(response);
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
  });

// word count
function countWords(tx){
  return tx?tx.replace(/ +/g," ").replace(/\w+| $|^ /g,"").length+1:0;
}

$tester = $("#input_text");
$tester.keyup(function(e){
  $("#counter").text($tester.countWords());
});

$.fn.countWords = function(){
 return countWords(this.val()) ;
};

// auto expand
var textarea = document.querySelector('input_text');

textarea.addEventListener('keydown', autosize);

function autosize(){
  var el = this;
  setTimeout(function(){
    el.style.cssText = 'height:auto; padding:0';
    // for box-sizing other than "content-box" use:
    // el.style.cssText = '-moz-box-sizing:content-box';
    el.style.cssText = 'height:' + el.scrollHeight + 'px';
  },0);
}


  </script>

  <footer>
  <p>Posted by: Random Forrest Raccoons</p>
  <p>Contact information: <a href="mailto:manfred.beluga@gmail.com">
  manfred.beluga@gmail.com</a>.</p>
</footer>

  </body>
</html>